.home_section{
    margin: 0 auto;
    max-width: 90%;
    margin-top: 4rem;
}
.home_section_section{
    margin-top: 2rem;
    max-width: 100%;
}
.dext{
    max-width:90%;
    margin:auto;
}
.gallery_home{
    max-width:90%;
}
.home_sec{
    max-width: 100%;
}
